.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  background-color: #3b404d;
  color: #ccc;
  border-color: #626c80;
  font-size: 1.2em;
  margin: 0.1em;
}